<div class="menus flex">
    <div class="image-container flex flex-center">
        <img src="assets/images/spotify-logo.png" alt="" srcset="">
    </div>

    <div class="menu-container flex opcoes">

        <app-botao-menu [message]="'Home'" [typeIcon]="iconHome" [classSelected]="menuSelecionado === 'Home'"
            (click)="botaoClick('Home')">
        </app-botao-menu>

        <app-botao-menu [message]="'Pesquisar'" [typeIcon]="iconSearch"
            [classSelected]="menuSelecionado === 'Pesquisar'" (click)="botaoClick('Pesquisar')">
        </app-botao-menu>

        <app-botao-menu [message]="'Artistas'" [typeIcon]="iconArtist" [classSelected]="menuSelecionado === 'Artistas'"
            (click)="botaoClick('Artistas')">
        </app-botao-menu>

    </div>

    <div class="menu-container flex">
        <span class="playList-titulo">
            PLAYLISTS
        </span>

        <div class="playList-scroll">
            <app-botao-menu>
                <fa-icon></fa-icon>
            </app-botao-menu>
        </div>
    </div>

</div>


<div class="usuario-info">

</div>