<div class="menus flex">
    <div class="image-container flex flex-center">
        <img src="assets/images/spotify-logo.png" alt="" srcset="">
    </div>
    <div class="menu-container flex opcoes">
        <app-botao-menu message="Homerrrrrrrrrrrrrrrttttttttttt">
            <fa-icon [icon]="iconHome"></fa-icon>
        </app-botao-menu>
        <app-botao-menu message="Pesquisar">
            <fa-icon [icon]="iconSearch"></fa-icon>
        </app-botao-menu>
        <app-botao-menu message="Artistas">
            <fa-icon [icon]="iconArtist"></fa-icon>
        </app-botao-menu>
    </div>
</div>


<div class="usuario-info">

</div>